fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic==2.11.4
numpy==2.2.5
opencv-python-headless==4.11.0.86
ultralytics==8.3.145
torch==2.7.0
torchvision==0.22.0
segment-anything==1.0
